.navbar-brand {
    padding: 10px;
    margin-left: 10px;
}

.navbar-nav {
    padding: 5px;
}

.container {
    padding: 0;
    margin: 0;
}

.d-flex {
    flex-wrap: wrap;
}

.card {
    width: 18rem;
}

.home-image {
    max-width: 50%;
    max-height: 50%;
}

#project-container {
    justify-content: flex-end;
}

#footer {
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.05);
}
